/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track-color, #000);
  /* Use CSS variable for track color */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color on hover */
}

* {
  scroll-behavior: smooth;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 var(--scroll-track-color, #000);
  /* Use CSS variable for track color */
}

/* Navbar fixed top position bg effect */
.navbar-bg-blur {
  background-color: rgba(0, 0, 0, 0.755);
  backdrop-filter: blur(50px);
  transition: background-color 2s ease-in-out, backdrop-filter 1s ease;
}